body,
html {
  height: 100%;
  margin: 0;
  font-family: "Poppins";
}

* {
  box-sizing: border-box;
}

.image {
  background-image: url("/pics/aerial-view-of-soccer-field-1171084.jpg");
  filter: blur(5px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(221, 243, 217);
  border: 3px solid rgb(221, 243, 217);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

p {
  margin-top: 1.2rem;
  font-size: 1.2rem;
}

a {
  outline: 0;
  font-size: 1.5rem;
  border: 2px solid f542a5;
  background-color: rgb(221, 243, 217);
  color: black;
  border-radius: 25px;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a:hover {
  background-color: #f542a5;
  color: rgb(221, 243, 217);
  text-decoration: none;
  font-weight: bold;
}
