html,
body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: rgb(221, 243, 217);
  font-family: "poppins", sans-serif;
  text-decoration: none;
}
.btn-primary {
  background-color: #f542a5;
  border: 1px solid #f542a5;
}
.imag {
  height: 8%;
  width: 8%;
}

.font {
  font: 3rem;
}

@media (max-width: 575.98px) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 767.98px) and (min-width: 575.98px) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
  body {
    font-size: 1.2rem;
  }
}

@media (max-width: 1199.98px) and (min-width: 991.98px) {
  body {
    font-size: 1.2rem;
  }
}
